/starters/Go/launcher.test
/starters/Go/main
/starters/Go/maps/replay.txt
/starters/Go/src/launcher/Launcher_test.go~
/Bot/bin/*
bin
dist
/website/application/logs/*.php
/logs/*.php
*.project
*.settings
*.buildpath
/replays/*
/uploads/*

/starters/scala/.cache
