/*****************************************************************/
/**                        Adaptation Mobile                     */
/*****************************************************************/

@media (max-width: 979px) and (min-width: 768px) {
	.container { width: 100%; }
}

/* On masque le header sur les faibles résolutions < 767px de largeur */
@media (max-width: 767px) {
	header {display : none;}
	.nav-hide-on-mobile {display : none;}
	.td-hide-on-mobile {display : none;}
	.nav-show-on-mobile {display : inherit;}
	/* Visualizer */
	#container { width: 500px !important; }
	#display { width: 500px; height: 500px }
	#main > #display { background-image: none; }
	#chart { width: 500px; }
	#feedline { width: 500px; }
}
@media (min-width: 768px) {
	.nav-hide-on-mobile {display : block;}
	.td-hide-on-mobile {display : table-cell;}
	.nav-show-on-mobile {display : none;}
}

/* on réduit la taille des titres de manière à ce que le logo reste aligné*/
.navbar-inner h1, h2 {
	letter-spacing: 0.1em;
	word-spacing: 0.2em;
}