.form_error {
	color: red;
}

pre.error,
.code {
    border: dashed 1px DarkRed;
    font-family: Consolas, Inconsolata, monospace;
    text-align: left;
    padding: 5px;
    width: 680px;
    overflow: auto;
    background-color: #e0e0e0;
	color: #000;
}

.logo {
	width: 158px;
	height: 100px;
	display: inline-block;
}

#game_table em {
	font-style: italic;
	color: #aaa;
}
