.form_error {
	color: red;
}
.form_message {
	color: green;
}

pre.error,
.code {
    border: dashed 1px DarkRed;
    font-family: Consolas, Inconsolata, monospace;
    text-align: left;
    padding: 5px;
    width: 100%;
    overflow: auto;
    background-color: #e0e0e0;
	color: #000;
}

.logo {
	width: 158px;
	height: 100px;
	display: inline-block;
}

#game_table em {
	font-style: italic;
	color: #aaa;
}

.formtexarea {
	height: 50px;
	width: 300px;
}

.table_label {
	vertical-align: top;
}

.news {
	margin-bottom: 10px;
	padding: 5px;
}
.news_date {
	float: left;
	width: 50px;
}
.news_title {
	margin-left: 60px;
}
.news_content {
	margin-top: 10px;
	padding: 5px 5px 15px 5px;
}