@font-face {
	font-family: 'Space Ranger';
	src: url('../fonts/spaceranger.ttf');
	font-style: normal;
	font-weight: normal;
}

body {
	padding: 136px 0 55px 0;
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat-x;
	background-size: cover;
	color: #eee;
}

.navbar-inner {
	background-color: #1b1b1b;
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
	border-color: #252525;
}

.navbar h1 a {
	text-decoration: none;
	text-shadow: 0 0 3px #ffffff;
}

.navbar h1 a:hover {
	text-decoration: none;
	text-shadow: 0 0 5px #ffffff;
}

.navbar h1 .icon-rocket {
	position: relative;
	top: 5px;
}

.nav-header > i[class^="icon-"] {
	margin-right: 8px;
}

#menu, section {
	background-color: rgba(34, 34, 34, 0.9);
    border: 1px solid #000;
    border-radius: 4px;
	margin: 0;
}

section {
    padding: 14px;
    position: relative;
	margin-bottom: 17px;
	box-shadow: 0 0 12px #000;
}

.icon-2x:before {
	vertical-align: -10%;
}

@media (max-width: 979px) {
	body {
		padding: 0;
	}
}

@media (min-width: 980px) {
	body {
		background-image: url('../images/dark/1600.jpg');
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	body {
		background-image: url('../images/dark/979.jpg');
	}
}

@media (max-width: 767px) {
	body {
		background-image: url('../images/dark/767.jpg');
	}
}

@media (max-width: 480px) {
	body {
		background-image: url('../images/dark/480.jpg');
	}
}

a,
a:focus,
a:hover {
        color: #BF0000;
}
.navbar h1 a,
.nav-header {
        color: inherit;
}

.nav-list > li > a {
	color: #ccc;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
	background-color: #333;
	cursor: default;
}

.nav-header,
.nav-list > li > a,
.nav-list .nav-header {
	text-shadow: none;
	padding: 5px 15px;
}

.nav > li > a {
	transition: background-color 0.2s;
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	transition: none;
	background-color: #333333;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	display: inline-block;
	height: 17px;
	padding: 4px 6px;
	margin-bottom: 8.5px;
	font-size: 12px;
	line-height: 17px;
	color: #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	vertical-align: middle;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	background-color: #222222;
	border: 1px solid #555555;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

select,
input[type="file"] {
	height: 27px;
	line-height: 27px;
}

select {
	width: 220px;
	background-color: #222222;
	border: 1px solid #555555;
}

.nav-list li > a {
	border-bottom: 1px solid #000;
	border-top: 1px solid #333;
}

.nav-header + li a {
	border-top: 1px solid #000;
}

.nav-list li.nav-header {
	background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.9), rgba(17, 17, 17, 0.9));
}

.nav li + .nav-header {
	margin-top: 0;
}

.nav-list .divider {
	display: none;
}

.table-striped tbody > tr:nth-child(2n+1) > td,
.table-striped tbody > tr:nth-child(2n+1) > th {
	background-color: rgba(51, 51, 51, 0.9);
}

.table-striped tbody > tr > td,
.table-striped tbody > tr > th {
	transition: background-color 0.2s;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
	background-color: rgba(68, 68, 68, 0.9);
	transition: none;
}

.table td,
.table th {
	border-bottom: 1px solid #111111;
}

.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
	color: inherit;
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
	color: inherit;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
	border-color: rgba(255, 0, 0, 0.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
	border-color: rgba(255, 0, 0, 0.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(255, 0, 0, 0.8);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(255, 0, 0, 0.8);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(255, 0, 0, 0.8);
}

.btn {
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */

	*zoom: 1;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 17px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #eee;
	text-shadow: /*0 1px 1px rgba(255, 255, 255, 0.75)*/none;
	background-color: rgba(0, 0, 0, 0.9);
	background-image: -moz-linear-gradient(top, #222222, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#111111', GradientType=0);
	border-color: #000000 #000000 #111111 #111111;
	/* border-color: rgba(0, 0, 0, 0.9) rgba(0, 0, 0, 0.9) rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7); */
	*background-color: #e6e6e6;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */

	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #000000;
	*border: 0;
	/* border-bottom-color: #222222; */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	*margin-left: .3em;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
	color: #eee;
	background-color: #111111;
	*background-color: #111111;
}

.btn:active,
.btn.active {
	background-color: #cccccc \9;
}

.btn:first-child {
	*margin-left: 0;
}

.btn:hover,
.btn:focus {
	color: #eee;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.btn:focus {
	outline: inherit;
	/* outline: 5px auto -webkit-focus-ring-color; */
	/* outline-offset: -2px; */
}

.btn.active,
.btn:active {
	background-image: none;
	outline: 0;
	/* -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05); */
}

.btn.disabled,
.btn[disabled] {
	cursor: default;
	background-image: none;
	background-color: rgba(0, 0, 0, 0.9);
	color: #eee;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

::-moz-selection {
	background-color: #ddd;
	color: #333333;
}

::-webkit-selection {
	background-color: #ddd;
	color: #333333;
}

::selection {
	background-color: #ddd;
	color: #333333;
}

legend {
	color: inherit;
}

.news {
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.news_date {
	font-style: italic;
}
.news_title {
	color: #BF0000;
	font-weight: bold;
}
.news_content {
	border: 1px dashed #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}