deb http://wwwftp.ciril.fr/pub/linux/ubuntu/archives/ saucy main restricted universe multiverse
deb http://wwwftp.ciril.fr/pub/linux/ubuntu/archives/ saucy-updates main restricted universe multiverse
