[{jailname}]
description=Jail chroot for ai-contest
directory=/srv/chroot/{jailname}/root
users={jailname}
type=directory
setup.copyfiles=ai-jail/copyfiles
setup.fstab=ai-jail/fstab
setup.nssdatabases=ai-jail/nssdatabases

